<div class="col-md-8 col-md-offset-2">
    <div class="panel">
      <img id="edit_logo_img" src="/logos/<%= @organization.id %>/serve">
    <%= render 'formedit' %>
    </div>
    <%= render 'logo' %>
</div>
