<h1>Organizations#index</h1>
<p>Listing of Every Organization</p>

<% @orgs.each do |organization| %>
<%= organization.name %> <%= link_to "about", organization_path(organization) %> <br />
<% end %>
